.hero{
    padding: 112px 0;   
    margin:0 ;
    text-align: center;
    background-color: $hero-bgc;

    // BG Image

    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $hero-bgc;
  background-image:
  linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../../Image/hero/people-office_tab@1x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../../Image/hero/people-office_mob@2x.jpg);
  }

  @media screen and (min-width: 481px){
    background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../../Image/hero/people-office_tab@1x.jpg);

     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
        background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../../Image/hero/people-office_tab@2x.jpg);
     }
  }

  @media screen and (min-width: 769px){
    background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../../Image/hero/people-office_deck@1x.jpg);

     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
        background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ), url(../../Image/hero/people-office_desk@2x.jpg);
     }
  }



    @media screen and (min-width: 768px){
        padding: 112px 0 108px 0;
    }

    @media screen and (min-width: 1158px){
        padding: 118px 0;
    }




}

.hero-title{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    font-weight: 700;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: $hero-text-color; 


@media screen and (min-width: 768px){
 
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
        line-height: 1.07;
        text-transform: none

    }

@media screen and (min-width: 1158px){
margin-bottom: 48px;
        
        }
}

.hero-title-container{
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

}

