 /* Back ground colors */
 $page-bgc: #ffffff;
 $hero-bgc: #2E2F42;
 $footer-bgc: #2E2F42;
 $secondary-section-bgc: #F4F4FD;
 $border-portfolio-color: #E7E9FC;
 $border-header-color: #E7E9FC;

 $hero-text-color: #ffffff;
 $primery-text-color: #434455;
 $primery-title-color: #2E2F42;
 $logo-text-color: #2E2F42;
 $accent-logo-text-color: #4D5AE5;
 $primery-brand-color: #4D5AE5;
 $nav-hover-color: #404BBF;
 $primery-btn-text-color: #FFFFFF;
 $primery-btn-bgc: #4D5AE5;
 $primery-btn-hover: #404BBF;
 $link-color: #2E2F42;
 $address-link-color: #434455;
 $portfolio-shadow-color: rgba(46, 47, 66, 0.08);
 
 /* secondary btn */
 $secondary-btn-text-color: #4D5AE5;
 $secondary-btn-bgc: #F4F4FD;
 $secondary-btn-text-hover-color: #FFFFFF;
 $secondary-btn-bgc-hover: #404BBF;
 $secondary-btn-border: #E7E9FC;
 /* Links */
 $primery-social-link-color: #4D5AE5;
 $primery-social-link-hover: #404BBF;
 $footer-social-link-color: rgba(255, 255, 255, 0.1);
 $footer-social-link-bg-hover: #31D0AA;
 /* Clients icon */
$client-icon-color: #8E8F99;
$client-icon-hover-color: #404BBF;
$client-border-color: #8E8F99;
$client-border-hover-color: #404BBF;
 /* footer */
 $secondary-logo-text-color: #F4F4FD;
 $footer-text-color: #E7E9FC;
 $title-footer-text: #fff;
 $footer-input-border-color: rgba(255, 255, 255, 0.3);
 $footer-placeholder-text-color: rgba(255, 255, 255, 0.6);
 /* main */
 $accent: #4D5AE5;
 $hover: #404BBF;
 $cloud: #F4F4FD;
 $backdrop-color: rgba(46, 47, 66, 0.4);
 /* Modal */
$modal-bgc: #FCFCFC;
$modal-button-bgc: #E7E9FC;
$modal-button-border-color: rgba(0, 0, 0, 0.1);
$input-border-focus-color: #4D5AE5;
$modal-label-color: #8E8F99;
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$modal-text-area-border-color: rgba(33, 33, 33, 0.2);
$modal-text-area-placeholder-color: rgba(117, 117, 117, 0.5);
$modal-accept-conditions-text-color: #757575;
$modal-privacy-policy-color: #4D5AE5;
$icon-check-fill: #f4f4fd;
$icon-checkbox-off-border-color: #2E2F42;
/* Transition cubic*/
$cubic-time-function: cubic-bezier(0.4, 0, 0.2, 1);